h3 {
    text-align: center;
}

#addItemCardMain {
    border: 1px black solid;
    border-radius: 10px;
    height: 100%;
}

#addItemCardGrid{
    display: grid;
    grid-auto-columns: 4;
    grid-auto-rows: 3;

}

#itemNameInput {
    grid-column: 1 /span 2;
    width: 90%;
    height: 30px;
    border-radius: 6px;
    border: 1px black solid;
    margin-left: 5%;
}

#itemNameInput::placeholder {
    text-align: center;
}

#descriptionInput {
    grid-column: 3/ span 4;
    width: 90%;
    border-radius: 6px;
    border: 1px black solid;
    margin-left: 5%;
    grid-row: 1 /span 2;
    resize: none;
    color: black;
    
}

#descriptionInput::placeholder {
    text-align: center;
    color: black;
    
}

#priceInput {
    grid-column: 1;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    border-radius: 6px;
    border: 1px black solid;
    height: 26px;
}

#qtyInput {
    grid-column: 2;
    width:90%;
    height: 26px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px black solid;
}

#priceInput::placeholder, #qtyInput::placeholder {
    text-align: center;
}

#submitNewItem {
    width: 10%;
    margin-left: 45%;
    height: 30px;
    border-radius: 8px;
    border: 1px black solid;
    background-color: lightgray;
    margin-top: 20px;
}

#imgInput {
    
}