#mainAdmin {
    margin-top: 10px;
    background-color: white;
    height: 800px;
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
}

#headerAdmin {
    width: 100%;
    border-bottom: 2px black solid;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    grid-auto-columns: 5;
}

#adminHSearch {
    grid-column: 1;
    width: 20%;
    height: 90%;
    border: none;
    border-right: 1px black solid;
    border-radius: 10px 0px 0px 0px;
}

#adminHSearch::placeholder {
    text-align: center;
}

.aHbtns {
    border: none;
    border-right: 1px black solid;
    height: 100%;
    width: 20%;
    background-color: white;
    box-shadow: 4px 4px 10px blue;
}

/* Center Div Styling */

#centerAdmin {
    display: grid;
    grid-auto-columns: 3;
    height: 75%;
    border: none;
    margin-top: 15px;
}

#leftPanelAdmin {
    grid-column: 1;
    width: 20%;
    border: 1px black solid;
    border-radius: 10px;
    display: grid;
    grid-auto-rows: 15;
    width: 100%;
    height: 100%;
}

.lPAbtn {
    grid-column: 1;
    height: 34px;
    border-radius: 10px;
    border: none;
    transition: 2s;
    background-color: lightgray;
    font-size: 18px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lPAbtn:hover {
    transition: 2s;
    background-color: lightblue;
}

#rightPanelAdmin {
    grid-column: 2 / span 3;
    width: 98%;
    margin-left: 1%;
}

