.App {
  text-align: center;
}

#header {
  height: 40px;
  border: 1px black solid;
  border-radius: 10px;
  width: 98%;
  margin-left: 1%;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 10% 12% 5%;
}

#searchHeader {
  border-radius: 10px 0px 0px 10px;
  border: transparent;
  grid-column: 1;
  border-right:1px black solid ;
}

#searchHeader {
  text-align: center;
}

button {
  background-color: silver;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-top: none;
  border-bottom: none;
}

#hLogo {
  width: 50px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
}

/* For Main */

#main {
  width: 98%;
  border: none;
  margin-left: 1%;
  margin-top: 10px;
  height: 750px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 15% 85%;
}

#leftTab {
  border: 1px black solid;
  border-radius: 10px;
  text-align: center;
  background-color: lightgray
}

#rightTab {
  border: 1px black solid;
  border-radius: 10px;
  background-color: lightgray;
}

#rightTab h2 {
  text-align: center;
  text-shadow: 2px 2px 6px cyan;
}